.loginsignup{
    width: 100%;
    height: 100%;
    background: linear-gradient(#90Af87, #f6edd9);
    padding-top: 100px;
    padding-bottom: 100px;
    color: #90Af87;
}

.loginsignup-container{
    width: 580px;
    height: fixed;
    background: white; 
    margin: auto;
    padding: 40px 60px;
}

.loginsignup-container.expanded {
    width: 400px;
  }

.loginsignup-container h1{
    margin: 10px 0px;
}

.loginsignup-fields{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 30px;
}
.loginsignup-fields input{
    height: 50px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid #f6edd9;
    outline: none;
    color: #90Af87;
    font-size: 18px;
}

.loginsignup-container button{
    width: 460.6px;
    height: 50px;
    color: #333;
    margin-top: 20px;
    border: none;
    font-size: 24px;
    font-weight: 500;
    background: #f6edd9;
    &.active{
        background: #90Af87;
        cursor: pointer;
    }
}
.loginsignup-container button:focus {
    color: #784; 
}
.loginsignup-container button:hover {
    color: #333; 
}
.loginsignup-signup{
    margin-top: 20px;
    color:#90Af87;
    font-size: 18px;
    font-weight: 500;
}

.loginsignup-signup span{
   font-weight: 60px;
   color: red;
}
.loginsignup-options {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
  }
  .loginsignup-options span{
    color : gray,
  }
.Social-icon{
    margin-top: 10px;
    margin: auto;
    color: white;
    font-size: 2.5rem;
}

.Single-col{
    max-width: 150px;
    margin: 0 auto;
} 
/* .Single-col.Social-icon {
    cursor: pointer; 
}
  
.Single-col.Social-icon:hover {
    color: #4285F4;
} */

.Single-col.Social-icon .fa-facebook {
    font-size: 1em; 
    color: #4285F4; 
}
.Single-col.Social-icon .fa-google {
    font-size: 1em; 
    color: #4285F4; 
}
.hr-text {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
    color : gray
}

.hr-text::before,
.hr-text::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid gray;
}

.hr-text:not(:empty)::before {
    margin-right: 10px;
}

.hr-text:not(:empty)::after {
    margin-left: 10px;
}
.reset-password-field {
    margin-top: 20px;
  }
  
  .reset-password-field label {
    display: block;
    margin-bottom: 8px;
  }
  
  .reset-password-field input {
    width: 100%;
    padding: 8px; 
    margin-bottom: 10px; 
  }
  
  .reset-password-field button {
    display: block; 
    width: 100%; 
    padding: 10px;
  }