.menu{
    display:flex;
    align-items: center;
    gap:10px;
    flex-direction: column;
    padding-bottom: 10px;
}

.banner{
    width: 100%;
}

.menu-header{
    font-size: 30px;
    font-weight: 800;
}

.menu-items{
    margin: 30px 30px;
    display: grid;
    width: 100%;
    height: auto;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}