.Profile {
    width: 100%;
    height: 100%;
    color: #90Af87;
}
.Profile h6 {
    color: #90Af87;
}
.Profile .container {
    padding-top: 20px;
    padding-bottom: 20px;
}
.Profile .card {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 1rem;
    padding-left: 15px;
    background-color: white;
}

.Profile .text-center {
    margin-top: 10px;
    margin-bottom: 20px;
}

.Profile .gradient-custom {
    background: linear-gradient(40deg, #7f4e19, #90Af87);
}

.Profile .h-100 {
    height: auto !important;
}

.custom-file-input {
    display: none;
}

.circular-image {
    border-radius: 50%;
    width: 150px; 
    height: 150px; 
    object-fit: cover; 
}