/* DropDownMenu.css */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  background-color: transparent; /* No background color */
  border: none; /* Remove border */
  padding: 0; /* Remove padding */
  cursor: pointer;
  border-radius: 50%; /* Make button round */
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-avatar {
  width: 60px; /* Size of the avatar */
  height: 60px; /* Size of the avatar */
  border-radius: 50%; /* Make image round */
  object-fit: cover; /* Ensure image covers the container */
}

.dropdown-menu {
  display: none; /* Hide the menu by default */
  position: absolute;
  top: 100%; /* Position below the button */
  left: 0;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-menu.show {
  display: block; /* Show the menu when .show class is added */
}

.dropdown-menu .dropdown-item {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #f1f1f1;
}
