.productdisplay{
    display: flex;
    margin: 0px 220px;
    margin-bottom: 50px;
    margin-top: 20px;
}

.productdisplay-left{
    display: flex;

}

.productdisplay-left img{
    width: 500px;
}

.productdisplay-right{
    display: flex;
    margin: 0px 70px;
    flex-direction: column;
    gap: 20px;
}

.product-info h1{
    color:#5D7A55;
    font-size: 40px;
    font-weight: 700;
}

.product-price{
    font-size: 24px;
    font-weight: 500;
    color:#90af87;
}

.choose-size p{
    font-size: 20px;
}

.size-option{
    display: flex;
    flex-wrap: wrap;
}

.size{
    transition: all 0.3s;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    height: 40px;
    line-height: 1;
    font-weight: 400;
    margin-right: 16px;
    font-size: 16px;
    color: #666666;
}

.size.selected{
    border-color: #90af87;
    background: #90af87;
    color: #fff;
}

.choose-topping p{
    font-size: 20px;
}

.topping-option{
    display: flex;
    flex-wrap: wrap;
}

.topping{
    transition: all 0.3s;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    height: 40px;
    line-height: 1;
    font-weight: 400;
    margin-right: 16px;
    margin-bottom: 8px;
    font-size: 16px;
    color: #666666;
}

.topping.selected{
    border-color: #90af87;
    background: #90af87;
    color: #fff;
}

.productdisplay-right button{
    margin-top: 0px;
    width: 500px;
    height: 60px;
    font-size: 22px;
    background: #90af87;
    color: #f6edd9;
    border-radius: 5px;
    border: none;
}
