.item{
    width: 200px;
    justify-content: center;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item img{
    width: 200px;
    height: 200px;
}

.item-info{
    padding-top: 12px;
    text-align: center;
}

.item-info h{
    font-size: 22px;
    color: black;
    font-weight: 600;
}

.item-info p{
    color:black;
    font-size: 18px;
}

.item:hover{
    transform: scale(1.05);
    transition: 0.6s;
}