/* UserTable.css */
/* src/searchBar/CustomerList.css */
.table-container h1 {
    font-size: 24px; /* Increase the font size */
    text-align: left; /* Align the heading to the left */
    margin-left: 0; /* Ensure no unintended margin is affecting alignment */
}
.search-container {
    display: flex;
    justify-content: flex-start; /* Aligns the search bar to the left */
    align-items: center;
    width: 30%; /* Ensures the container takes up the full width */
  }
  
  .search-input-form {
    display: flex;  
    width: 100%;
  }
  
  .search-input-field {
    flex: 1;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .search-submit-button {
    padding: 8px 16px;
    border: none;
    background-color: #90af87;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 16px;
    /* Add a box shadow for better visibility */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .search-submit-button:hover {
    background-color: #5D7A55;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  }
  
  /* Style for the icon inside the button */
  .search-submit-button img {
    width: 16px; /* Set the desired width */
    height: 16px; /* Set the desired height */
    margin-right: 8px;
    /* Adjust as needed for alignment */
  }
  
/* Container for the table */
.table-container {
    color : black;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;
}

/* Basic table styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
    color: #333;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

/* Styling for selected row */
.selected {
    background-color: #d0e0ff;
}

/* Styling for role change buttons */
.role-change-buttons {
    display: flex;
    gap: 10px;
}

.role-change-buttons button {
    background-color: gray;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.role-change-buttons button:hover {
    background-color:  black;
}

.role-change-buttons button:disabled {
    background-color: #d6d6d6;
    cursor: not-allowed;
}
